<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Practica 15</title>
    
</head>
<body>
    <div id="miApp">
        <form action="#">
            <fieldset>
                <label for="">Ingrese un valor entre 1 y 100  </label>
                <input type="number" v-model="numero">
                <p v-if="numero<=9">Tiene un digito</p>
                <p v-else-if="numero<=99">Tiene dos digitos</p>
                <p v-else>Tiene 3 o más digitos</p>
            </fieldset>
        </form>
    </div>

    </div>
    <!-- vuejs -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!-- js -->
    <script src="app.js"></script>
</body>
</html>