<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Practica 14</title>
    
</head>
<body>
    <div id="miApp">
        <p>Ingrese la edad:
        <input type="number" v-model="edad"></p>
        <p v-if="edad>=18">Es mayor de edad</p>
    </div>

    </div>
    <!-- vuejs -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!-- js -->
    <script src="app.js"></script>
</body>
</html>